.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  width: 900px;
  border: 1px solid black;
 
}

.greeting {
  width: 60%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.greeting-title {
  font-size: 36px;
}

.start-btn {
  cursor: pointer;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(249, 246, 246);
  background-color: #8cc28c;
}
.start-btn:hover {
  background-color: #97d297;
  box-shadow: 0 0 5px black;
}
.horses-field {
  width: 100%;
  min-height: 80%;
  border: 10px solid black;
}


.winner {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.winner-name {
  color: red;
}