@keyframes greeting-letters {
  0% {
    letter-spacing: 1px;
  }

  50% {
    letter-spacing: 5px;
  }

  100% {
    letter-spacing: 1px;
  }
}

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  width: 900px;
}

.greeting {
  width: 80%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.user-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
}

.greeting-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 1px;
  margin-bottom: 00px;
  transition: 0.3s;
  animation: greeting-letters;
  animation-duration: 2s;
  animation-iteration-count: 3
}

.start-btn {
  cursor: pointer;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(249, 246, 246);
  background-color: #8cc28c;
}

.start-btn:hover {
  background-color: #97d297;
  box-shadow: 0 0 5px black;
}

.start-btn:disabled {
  background-color: gray;
  cursor: default;
  box-shadow: none;
}

.horses-field {
  width: 100%;
  min-height: 80%;
  border: 10px solid black;
}


.winner {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.winner-name {
  color: red;
}

.user-choice__container {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-choice {
  font-size: 20px;
  margin: 20px 0;
}

.user-choice span {
  color: red;
}

.user-result {
  font-size: 28px;
  font-weight: bold;
}
@media (max-width: 992px) {
  .container {
    width: 550px;
  }
}


@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .greeting {
    width: 100%;
  }
  .horses-field {
    width: 100%;
    border: none;
  }

  .greeting-title {
    font-size: 24px;
    animation:none;
  }

  .user-warning {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px;
  }

  .start-btn {
    padding: 10px 25px;
    font-size: 14px;
  }
  .winner {
    font-size: 24px;
  }
  .user-choice {
    margin: 10px 0;
  }
  .user-result {
    font-size: 24px;
  }
}