.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  width: 900px;
  border: 1px solid black;
}

.greeting {
  width: 60%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.greeting-title {
  font-size: 36px;
}

.start-btn {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(249, 246, 246);
  background-color: rgb(123, 194, 52);
}