.horse-info {
    position: absolute;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.horse {
    width: 100%;
    position: relative;
    background-color: #97d297;
    height: 75px;
}

.horse:nth-child(2n) {
    background-color: #8cc28c;
}

.horse-name, .horse-distanse {
    font-size: 12px;
}

.horse.stopped .horse-name {
    color: black;
}
.horse.stopped .horse-distanse {
    color: rgb(255, 0, 0);
}

.horse:last-child, .horse:first-child {
    
}